# Package 설치 확인
1. !pip list 실행
2. pandas, matplotlib 확인
3. 없을 경우 아래코드를 실행하여 설치

``` 
import sys
!{sys.executable} -m pip install pandas matplotlib
```
4. !pip list 실행하여 다시 확인

In [ ]:
!pip list

In [ ]:
# import sys
# !{sys.executable} -m pip install pandas matplotlib

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 0. Create DataFrame
        
``` 
df = pd.DataFrame(
    { 
    'column_1': [1, 2, 3, 4],
    'column_2': ['a', 'b', 'c', 'd'],
    'column_3': [True, True, False, False]
    })
```

In [ ]:
# 0. Create DataFrame
my_inform = pd.DataFrame(
    { 
    'class_code': ['class_1', 'c|lass_2', 'class_3', 'class_4', 'class_5', 'class_6', 'class_7', 'class_8', 'class_9', 'class_10'],
    'class_name': ['korean', 'math', 'english', 'computer', 'chinese', 'stat', 'music', 'art', 'python', 'java'],
    'score_1': [100, 70, 50, 65, 100, 20, 60, 90, 85, 90],
    'score_2': [100, 80, 40, 95, 50, 30, 70, 45, 95, 40],
    'total_score': ['A+', 'B+', 'C+', 'B+', 'B+', 'C0', 'B0', 'B0', 'A+', 'B0']
    })

my_inform

# 1. subset
### 데이터프레임에서 특정 Row 혹은 특정 Column을 선택하는 것

### 1-1 Row 선택
* column이 x보다 클 경우: df[df.column > x]
* column이 x보다 작을 경우: df[df.column < x]
* column이 x보다 크거나 같을 경우: df[df.column >= x]
* column이 x보다 작거나 같을 경우: df[df.column <= x]
* column이 x와 같을 경우: df[df.column == x]
* column이 x가 아닐 경우: df[df.column != x]
* column이 x보다 크고 y보다 작을 경우: df[(df.column) > x & (df.column) < y]
* column이 x보다 크거나 y보다 작을 경우: df[(df.column) > x | (df.column) < y]

In [ ]:
# total_score가 B+인 경우
my_inform[my_inform.total_score == 'B+']

In [ ]:
# score_1이 50보다 크고 score_2가 50보다 작을 경우
my_inform[(my_inform.score_1 >= 50) & (my_inform.score_2 <= 50)]

In [ ]:
# score_1이 80보다 크거나 score_1이 20보다 작을 경우
my_inform[(my_inform.score_1 >= 80) | (my_inform.score_1 <= 20)]

## 예제 1: class_name이 python, korean인 데이터를 가져오세요

In [ ]:
# Your Code

## 예제 2: Total Score 가 B0 이고, score_2가 50 미만인 데이터를 가져오세요

In [ ]:
# your Code

### 1-2 Column 선택
```
df['column']
df[['column_1', 'column_2']]
```

In [ ]:
my_inform['class_name']

In [ ]:
my_inform[['class_name', 'total_score']]

## 예제 3: score_1가 80이상인 데이터 중 name과 total_score만 가져오세요

### Hint
* Column을 먼저 선택하고 Row를 나중에 선택합니다.
* 구글링: selecting by column and row in pandas 검색결과 중 Stack Overflow 사이트 찾기

In [ ]:
# your code

### 1-3 특정 위치 선택

* df.iloc[row, column]
* df.iloc[x:y, column]
* df.iloc[row, x:y]
* 'x:y' 표시는 x <= 선택 셀 < y 을 의미 

```
df.iloc[0, 1] 
df.iloc[0:1, :] 
df.iloc[:, 0:2]
```

In [ ]:
my_inform.iloc[0, 1]

In [ ]:
my_inform.iloc[0:2, :]

In [ ]:
my_inform.iloc[:, 0:3]

## 예제 4: row index가 1, 5 / column index가 2, 4인 데이터를 가져오세요.

### Hint
* indexing은 언제나 [ ] 를 사용합니다.

In [ ]:
# Your Code

# 2. Make New Column & Row

### 2-1 Column
```
df['new_column] = x
df['new_column'] = df['a'] + df['b']
df['new_column'] = df['a'] - df['b']
df['new_column'] = df['a'] * df['b']
df['new_column'] = df['a'] / df['b']
```

In [ ]:
my_inform['major'] = ['No', 'Yes','Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes']

my_inform

In [ ]:
my_inform['score_sum'] = my_inform['score_1'] + my_inform['score_2']
my_inform

* Column을 삭제하고 싶을 경우

```
df = df.drop(columns=['column_name'])

```

In [ ]:
my_inform = my_inform.drop(columns=['score_sum'])
my_inform

In [ ]:
my_inform['score_1 / score_2'] = my_inform['score_1'] / my_inform['score_2']
my_inform

In [ ]:
my_inform = my_inform.drop(columns=['score_1 / score_2'])
my_inform

## 예제 5: score_1과 score_2의 평균 값인 'avg_score' column을 생성하세요

In [ ]:
# your code

### 2-2 Row

In [ ]:
my_inform = my_inform.append({
    'class_code' : 'class_11', 
    'class_name' : 'kotlin',
    'score_1': 65,
    'score_2': 55,
    'total_score': 'B+',
    'major': 'Yes'
    }, 
    ignore_index=True)

my_inform

# 3. Group by


```
df.groupby('column').mean()
df.groupby('column').median()
df.groupby('column').min()
df.groupby('column').max()
df.groupby('column').count()
df.groupby('column').sum()
df.groupby('column').quantile([0.25, 0.75])
```

In [ ]:
my_inform.groupby('total_score').mean()

In [ ]:
my_inform.groupby('total_score')['score_1'].mean()

In [ ]:
my_inform.groupby('total_score')['major'].count()

In [ ]:
my_inform.groupby('major').describe()

## 예제 6: major 별, total_score 별 score_1과 score_2의 평균을 의미하는 score_mean을 구하세요.

In [ ]:
# Your Code

# 4. Merge

```
```

In [ ]:
class_inform = pd.DataFrame(
    {
    'class_code': [
        'class_1', 'class_2', 'class_3', 'class_4', 'class_5',
        'class_6', 'class_7', 'class_8', 'class_9', 'class_10',
        'class_11', 'class_12', 'class_13', 'class_14', 'class_15'
            ],
    'professor': [
        'a', 'b', 'c', 'd', 'e',
        'a', 'b', 'c', 'd', 'e',
        'a', 'b', 'c', 'd', 'e'
    ],
    'total_student': [
        35, 25, 21, 33, 29,
        46, 74, 16, 37, 13,
        75, 51, 32, 56, 31
    ]
    })

class_inform

In [ ]:
pd.merge(my_inform, class_inform)

In [ ]:
pd.merge(my_inform, class_inform, how='left', on='class_code')

In [ ]:
pd.merge(my_inform, class_inform, how='right', on='class_code')

In [ ]:
pd.merge(my_inform, class_inform, how='inner', on='class_code')

In [ ]:
pd.merge(my_inform, class_inform, how='outer', on='class_code')

# 5. Sorting

### 5-1 오름차순 정렬

In [ ]:
my_inform.sort_values('score_1')

### 5-2 내림차순 정렬

In [ ]:
my_inform.sort_values('score_2', ascending=False)

### 5-3 두개 이상 컬럼을 기준으로 정렬

In [ ]:
my_inform.sort_values(['score_1','score_2'])

## 예제 7: major 기준으로 내림차순, total_score 기준으로는 오름차순으로 정렬하세요.

### Hint
* 정렬도 역시 [ ] 를 사용합니다 :)

In [ ]:
# Your Code

## 예제 8
#### 1. my_inform과 class_inform을 활용하여 NaN값이 없도록 Merge 하세요.
#### 2. merge한 데이터에서 'major'값은 'Yes'이고 total_student가 30명 이상인 데이터만 선택하세요.
#### 3. 위의 결과 중 professor 별 score_1과 score_2의  평균 값을 각각 구해보세요. 
#### 4. merge한 데이터에서 score_2 와 score_1이 차이가 가장 큰 상위 두개 데이터를 가져오세요.

In [ ]:
# 1
merge_data = # your_code

# 2 
major_yes_total_30 = # your_code

# 3
avg_score_by_professor = # your_code

# 4
diff_top_2 = # your_code

# 6. Plotting

### 6-1 Line Chart

```
plt.plot(x, y)

plt.show()
```

In [ ]:
popluation_df = pd.DataFrame({
    'year': [1960, 1970, 1980, 1990, 2000, 2010],
    'pop_pakistan': [44.91, 58.09, 78.07, 107.7, 138.5, 170.6],
    'pop_india': [449.48, 553.57, 696.783, 870.133, 1000.4, 1309.1]
})

popluation_df

In [ ]:
year = popluation_df['year']
pop_pakistan = popluation_df['pop_pakistan']

plt.plot(year, pop_pakistan)
# plt.plot(?, ?)

# x축 제목
plt.xlabel('Year')

# y축 제목
plt.ylabel('Population in million')

# 차트 제목
plt.title('Population trend 1960 ~ 2010')

plt.show()

### 6-2 Bar Chart

```
plt.bar(x, y)
plot.show()
```

In [ ]:
plt.bar(year, pop_pakistan)
plt.show()

### my_inform에서 total score 빈도를 차트로 표한하고 싶을 때 ?

In [ ]:
# Your Code

### 6-3 Pie Chart

```
plt.pie(value, labels='index')
plt.show()
```

* pie chart는 카테고리 총 합이 1(100%)인 경우 적합

In [ ]:
# 빈도를 비율로 변환 시켜주는 함수 value_counts(normalize=True)
pie_chart_data = my_inform.total_score.value_counts(normalize=True)
pie_chart_df = pd.DataFrame(pie_chart_data)
pie_chart_df

In [ ]:
plt.pie(pie_chart_df['total_score'], labels=pie_chart_df.index)

plt.show()

### 6-4 Scatter Plot

```
plt.scatter(x, y)
plt.show()
```

In [ ]:
x = my_inform['score_1']
y = my_inform['score_2']

plt.scatter(x, y)
plt.show()

### 조금 어렵지만, scatter plot에 name 추가

In [ ]:
# class name 저장
names = my_inform['class_name']

# 타츠 사이즈 설정 (x, y)
plt.figure(figsize=(10,10))

for i,name in enumerate(names):
    # x: score_1의 위치
    x_i = x[i]
    
    # y: score_2의 위치
    y_i = y[i]
    
    # x_i, y_i를 그리고
    plt.scatter(x_i, y_i)
    
    #  x_i 보다 2작고 y_i보다 1 큰 위치에 name을 그리기
    plt.text(x_i-2, y_i+1, name)
plt.show()